{% extends 'base.html' %} {% block title %}

<div>
    <h1>Tracks List</h1>
</div>

{% endblock %} {% block content %}
<div>
    <a href="{% url 'track_create' %}">Create</a>
</div>

<table width="100%" border="1px solid #000">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for track in tracks %}
        <tr>
            <td>{{track.id}}</td>
            <td>{{track.name}}</td>
            <td>{{track.description}}</td>
            <td>
                <a href="{%url 'track_details' track.id%}"> Track Details</a>
                <a href="{%url 'update_track' track.id%}">Update Track</a>
                <a href="{%url 'delete_track' track.id%}">Delete Track</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
